.site-header-content {
    align-items: flex-end;
    background-color: #000;
}
.site-header-content .site-title {
    padding: 0 5vw;
}
.site-header-content .site-description {
    color: #000;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 0.25em;
    text-align: right;
}


html.dark-mode .home-template .site-header-cover {
    opacity: 0.6;
}

.home-template .gh-head.has-cover {
    background-color: rgba(0, 0, 0, 0.3);
}

body:not(.home-template) .nav li a,
body:not(.home-template) .nav-post-title {
    color: #000;
    /*text-shadow: black 0 0 0.25em;*/
}