body .meta-edit {
    z-index: 2000;
    display: inline-block;
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    width: 1em;
    line-height: 1.2;
    text-decoration: none;
}


@media (min-width: 901px) {
    .home-template .post-feed,
    .tag-template .post-feed,
    .author-template .post-feed {
        padding: 40px 0 0;
    }
}


nav.pagination {
    margin: 1vw 0 3vw;
}

.post-card-primary-tag svg {
    height: 1.8rem;
    fill: #666;
}

.post-full-tags {
    display: block;
    font-size: 1.5rem;
}

.tags-tooltip {
    position: absolute;
    top: 105%;
    z-index: 999;
    display: block;
    padding: 2px 8px;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.2px;
    background: var(--darkgrey);
    border-radius: 3px;
    box-shadow: rgba(39,44,49,0.08) 0 12px 26px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
    opacity: 0;
    transition: all 0.35s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transform: translateY(0px);
    pointer-events: none;
    text-transform: none;
}
.post-card-primary-tag {
    position: relative;
}
.post-card-primary-tag:hover .tags-tooltip {
    opacity: 1.0;
    transform: translateY(6px);
}


@media (min-width: 1001px) {
    .meta-list .post-card-large {
        min-height: 200px;
    }
}


.meta-list .post-card.tag-card {
    flex: unset;
    min-height: unset;
}
.meta-list .post-card.tag-card {
    padding: 0 20px 40px;
}
.meta-list .post-card-title {
    margin-bottom: 0.3em;
}
.meta-list .post-card.tag-card .post-card-byline-content {
    margin-left: 0;
    margin-bottom: 0.5em
}


.meta-list .post-card.author-card {
    padding: 0 20px 40px;
}
.meta-list .post-card.author-card .author-header {
    display: flex;
    flex-direction: row;
    padding-top: 0;
}
.meta-list .post-card.author-card .author-profile-image {
    flex: 0 0 4em;
    width: 4em;
    height: 4em;
}
.meta-list .post-card.author-card .author-header-content {
    margin-left: 10px;
}